<%- include("header") -%>

<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aliquid quos dolor ratione, repellat, sapiente nostrum aperiam fuga obcaecati reiciendis, provident voluptas quaerat! Cumque, quam, doloribus velit id necessitatibus voluptatum in labore eaque libero exercitationem deleniti! Sit quos facilis dolore ab repellat consequatur, quaerat repellendus suscipit, incidunt ut totam quas!</p>

    <%- include("footer") -%>